# Ignore non-directories in root, so you can use it as scratch space.
/*
!/*/

# The previous lines explicitly unignores .git
/.git

# Ignore Emacs autosave files.

\#*\#
.#*
*~

# Ignore IntelliJ configuration files
.idea/

# Ignore cabal and stack build directories
dist
dist-newstyle
.stack-work

# Ignore IDE info
.hie
.vscode

# Ignore side-effects of compilation.
*.aux
*.log
*.bbl
*.blg
*.out
*.prof
*.o
*.hi
*.snm
*.toc
*.vrb
*.nav

# Ignore core dumps.
core
core.*

# Ignore flymake-files created by Emacs.
*flymake*

# Ignore temporary backup directories.
*-backup

# Ignore directories often created by testing
data/
lib/
testparser/

# Ignore macOS system files.
.DS_Store

# Ignore updo files
.updo
updo

# Don't ignore Updo makefiles and generated projects.
!stack.yaml
!stack.yaml.lock
!cabal.project
!cabal.upgrade.project
!project-files.mk
!project-versions.mk